<ul class="posts">{% if posts == nil %}{% assign posts=site.posts %}{% endif %}{% for post in posts %}{% capture hide %}
    {% capture currentmonth %}{{ post.date | date: "%m/%Y" }}{% endcapture %}
    {% endcapture %}{% if currentmonth != month %}{% unless forloop.first %}
    </ul>
  </li>{% endunless %}
  <li><h3>{{ post.date | date: "%B %Y" }}</h3>
    <ul>{% capture month %}{{ currentmonth }}{% endcapture %}{% endif %}
      <li>
        <h4>
          <span>{{ post.date | date: '%d' }}: </span>
          <a href="{{ post.url }}">{{ post.title | replace: '<br/>', '' }}</a>
        </h4>
        {% include tags_list.html %}
      </li>{% endfor %}
    </ul>
  </li>
</ul>