---
layout: layout
---

<article>
	<h2> {{page.title}} </h2>
	<div><time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date: "%e %B %Y"  }}</time>
		{% include tags_list.html %}
	</div>
	{{ content }}
</article>

{% if page.comments %}
<div class="comments">
No comments (for now), but you can reach me on <a href="https://twitter.com/laedit{% if page.tweet_id != nil %}/status/{{page.tweet_id}}{% endif %}">twitter</a> or <a href="https://piaille.fr/@laedit{% if page.mastodon_id != nil %}/{{page.mastodon_id}}{% endif %}">mastodon</a>.
</div>
{% endif %}
