<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
		<rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
		  <match url="*" />
		  <conditions>
			<add input="{CACHE_URL}" pattern="*://www.*" />
		  </conditions>
		  <action type="Redirect" url="{C:1}://laedit.net" redirectType="Permanent" />
		</rule>

		<rule name="Redirect to old">
		   <match url="^fr/(?:News|Framework|About|Softwares|Utils|Contact-us|Home).*\.html" />
		   <action type="Redirect" url="http://old.laedit.net{REQUEST_URI}" redirectType="Temporary" />
	   </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
    </staticContent>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>
  </system.webServer>

</configuration>
