<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to old" stopProcessing="true">
          <match url="^fr/(?:News|Framework|About|Softwares|Utils|Contact-us|Home).*\.html" />
          <action type="Redirect" url="http://old.laedit.net{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        
        <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
          <add input="{CACHE_URL}" pattern="*://www.*" />
          </conditions>
          <action type="Redirect" url="http://laedit.net{REQUEST_URI}" redirectType="Permanent" />
        </rule>

      </rules>
      <outboundRules>
        <rule name="Remove RESPONSE_Server" >
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="text/xml; charset=utf-8" />
    </staticContent>

    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="404.html" responseMode="File" />
    </httpErrors>

    <httpProtocol>
        <customHeaders>
            <clear />
            <add name="X-FRAME-OPTIONS" value="DENY" />
        </customHeaders>
    </httpProtocol>

    <defaultDocument enabled="true">
        <files>
          <add value="index.xml" />
        </files>
    </defaultDocument>
  </system.webServer>

<system.web>
  <httpRuntime enableVersionHeader="false" />
</system.web>

</configuration>
