* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#mufasa {
    width: 960px;
    margin: auto;
    padding-top: 200px;
    padding-left: 100px;
}

h1 {
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: 700;
    color: #272727;
}

h2{
    font-size: 25pt;
    font-weight: 300;
    color: #515151;
}

p {
    clear: both;
    margin-top: 90px;
    color: #4f7038;
    font-style: italic;
    font-size: 13pt;
}

#simba a {
    width: 26px;
    height: 26px;
    display: block;
    float: left;
    margin: 24px 2px 0 2px;
	text-decoration:none;
}

 #simba a.twitter:hover {
	color: #4099ff;
 }
 
 #simba a.stack:hover {
	color: #fe7a15;
}
 
 #simba a.black:hover {
	color: black;
}
 
 #simba a.viadeo:hover {
	color: #ec7500;
}

 #simba .icomoon {
	font-size: 20px;
    padding: 0 0 0 5px;
}
 
a.behrev {
    line-height: 160%;
	text-decoration:none;
    color: #33e;
}

.behrev:hover {
    text-decoration: underline;
}
    
footer {
	margin: 30px 0 0 200px;
	display: block;
	color: #515151;
}    

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-gu40wa');
	src:url('fonts/icomoon.eot?#iefix-gu40wa') format('embedded-opentype'),
		url('fonts/icomoon.woff?-gu40wa') format('woff'),
		url('fonts/icomoon.ttf?-gu40wa') format('truetype'),
		url('fonts/icomoon.svg?-gu40wa#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-codeplex:before {
	content: "\e600";
}
.icon-icon-viadeo:before {
	content: "\e601";
}
